header{
    background-color: black;
}

body {
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    line-height: 1.2em;
    color: #2f2e2e;
    margin: 0;
    
}

section, footer{
    margin: 30px;
}

h1{
    font-size: 60px;
    padding: 20px;
    color: orange;
    text-shadow: black;
}

h2{
    font-size: 30px;
    color: orange;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px;
}

nav li a{
    padding: 10px;
    color: white;

}

nav li{
    float: left;
}

nav ul{
    float: left;
    list-style-type: none;
}

nav{
    font-size: 20px;
    letter-spacing: 3px;
    height: 50px;
    background-color: black;
    color: white;
    padding-right: 10px;
}

table{
    width: 100%;
}

table td{
    color: black;
    padding: 10px;
}

table tr:nth-child(even){
    background-color: antiquewhite;
}

table tr:nth-child(odd){
    background-color: rgb(220, 195, 172);
}

table thead th{
    background-color: black;
    color: white;
}

table tfoot td{
    background-color: black;
    color: white;
}